body {
  padding: 0;
  margin: 0;
  width: 1200px;
  margin: 0 auto;
  background-color: #f7f7f7;
  position: relative;
}

li {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  padding-bottom: 10px;
}

.lift-nav{
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  height: 100vh;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.lift-nav li{
  width: 50px;
  height: 30px;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  padding: 0 10px;
  margin-bottom: 5px;
  background: skyblue;
  cursor: pointer;
  border-radius: 10px;
}

.lift-nav li.current{
  background: tomato;
}